* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: coral;
  color: white;
}

.wrapper {
  margin: auto;
  width: 90%;
}

#left-content {
  width: 18vw;
  float: left;
  clear: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.wrapper h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 35px;
  margin-top: 20px;
}

#controls, form {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  align-items: center;
  margin-top: 20px;
}

#rover-data {
  height: 60vh;
  overflow: scroll;
}

#rover-data label {
  font-weight: 500;
  padding-bottom: 10px;
}

#rover-data select {
  padding: 5px;
  margin-bottom: 10px;
}

#controls input, #controls select {
  margin: 10px 0 20px 0;
  padding: 5px;
}

#controls input {
  width: 80px;
}

#controls select {
  width: 85%;
}

#controls label {
  font-weight: 500;
}

#controls button {
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 80%;
  margin: 10px 0;
}

#right-content {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.fas {
  cursor: pointer;
}

#no-photos-msg {
  text-align: center;
  color: red;
  padding-bottom: 10px;
  display: none;
}

#spinner {
  width: 60px;
}

#spinner1 {
  width: 60px;
  margin-top: 40%;
}

#mars-photo {
  max-height: 90vh;
  max-width: 65vw;
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}